<header class="flex">
    <div class="flex">
        <a href="#" class="logo inline-block">
            Global Rating
        </a>
        <button class="go-vote flex" (click)="scrollTo('get-promo')">
            Go vote!
        </button>
    </div>

    <nav class="navbar flex">
        <a href="https://www.greenpeace.org/international/act/donate/">Donations</a>
        <button (click)="scrollTo('about-us')">About us</button>
        <a href="#">Leave feedback</a>
    </nav>
</header>
