footer {
    background-color: black;
    box-sizing: border-box;

    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 0 4.375em;

    color: #ffffff;
    font-size: 12px;
}

footer a, footer button {
    color: #ffffff;
    font-size: 12px;
}

footer .logo {
    font-size: 14px;
    padding: 2.1875em 0;
}

footer .go-vote {
    background-color: #ececec;
    margin-left: 8.75em;
    padding: 1.1875em;
    align-items: center;

    color: #343435;
    transition: all 0.2s ease;
}

footer .go-vote:hover {
    background-color: #e6e6e6;
}

footer .navbar {
    align-items: center;
    margin-right: 9.3753em;
}

footer .navbar a {
    display: flex;
    align-items: center;
}

footer .navbar a, footer .navbar button{
    height: 100%;
    padding: 0 20px;
    transition: all 0.2s ease;
}

footer .navbar a:hover, footer .navbar button:hover {
    background-color: #1f1f1f;
}

footer .navbar a:last-child {
    margin-right: 0;
}