.deep-rating {
    background-image: url('../../../assets/images/lantern.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;

    height: 100vh;

    color: #343435;
}