.transparent-button {
    padding: 32px 41px;
    border: 1px solid #343434;
    border-radius: 10px;
    background: none;

    max-width: 278px;

    font-size: 18px;
    line-height: 22,5px;
    text-align: center;
}