<div class="cover">
    <div class="about-us" id="about-us">
        <div class="heading">
            About us
        </div>

        <div class="main-text-cover">
            <div class="main-text">
                We are the team from Ukraine. We use taxi apps every day. The problem is that we always hezitate between different taxi apps shown up on the market so we`ve decided to create our own rating to solve it. <br />
                <br />
                Global Rating service <br />
                <br />
                <ol style="padding-left: 40px;">
                    <li>evaluates price of your trip</li>
                    <li>shows you deep comparassion</li>
                    <li>gives you a promo for participation</li>
                </ol>
                <br />
                Global Rating connects all you need to find the way you will ride to work or back home. <br />
            </div>

            <div class="links">
                <a href="#">
                    Donations
                </a>
                <a href="#">
                    Leave feedback
                </a>
            </div>
        </div> 
    </div>
</div>