.cover {
    background-image: url('../../../assets/images/road.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;

    height: 150vh;
    padding-left: 200px;
    padding-right: 470px;

    color: #ffffff;
}

.cover .about-us {
    width: 100%;
    height: 100%;
    padding-top: 25%;

    background-color: rgba(0, 0, 0, 0.63);
}

.cover .about-us .heading {
    font-size: 36px;
    text-align: left;
    
    margin-bottom: 55%;
}

.cover .about-us .main-text-cover {
    padding-left: 40px;

}
.cover .about-us .main-text {
    margin-bottom: 118px;

    font-size: 18px;
}

.cover .about-us .links {
    font-size: 12px;
}

.cover .about-us .links a {
    color: #ffffff;
    margin-right: 160px;
}

.cover .about-us .links a:last-child {
    margin-right: 0;
}