<div class="get-promo" id="get-promo">
    <div class="heading">
        Get your <br /> promo
    </div>

    <div class="app-select">
        <div class="inline-block">
            <div class="select-cover flex">
                <div class="input-cover">
                    <input class="select-input" type="text" name="app" placeholder="App">
                </div>
                <div class="arrow-cover flex">
                    <div class="arrow down"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="select">
        <div class="inline-block">
            <div class="select-cover flex">
                <div class="input-cover">
                    <input class="select-input" type="text" name="gender" placeholder="Choose gender">
                </div>
                <div class="arrow-cover flex">
                    <div class="arrow down"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="select">
        <div class="inline-block">
            <div class="select-cover flex">
                <div class="input-cover">
                    <input class="select-input" type="text" name="age" placeholder="Select your age">
                </div>
                <div class="arrow-cover flex">
                    <div class="arrow down"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="select">
        <div class="inline-block">
            <div class="select-cover flex">
                <div class="input-cover">
                    <input class="select-input" type="text" name="country" placeholder="Select your country">
                </div>
                <div class="arrow-cover flex">
                    <div class="arrow down"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="apple-login flex">
        <span class="text inline-block">or login with</span>
        <img src="assets/images/apple-icon.png" width="32" height="32" />
    </div>

    <div class="textarea-cover">
        <textarea class="feedback">Write your feedback here...</textarea>
    </div>
</div>