.get-promo {
    background-image: url('../../../assets/images/bridge.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;

    height: 200vh;
    padding: 200px 130px 240px 200px;

    color: #ececec;
}

.get-promo .heading {
    font-size: 36px;
    margin-bottom: 150px;
}

.app-select {
    margin-bottom: 140px;
}

.select {
    margin-bottom: 24px;
}

.select-cover {
    height: 45px;
    max-height: 45px;

    background-color: none;
    box-sizing: border-box;
    border: 1px solid #ececec;
    border-radius: 10px;

    flex-direction: row;
}

.select-cover .input-cover {
    padding: 12px;
}

.select-cover .input-cover input {
    width: 100%;
    
    text-align: center;
    color: #ececec;
    font-size: 14px;
}

.select-cover .arrow-cover {
    padding: 12px;
    border-left: 1px solid #ececec;

    justify-content: center;
    align-items: center;
}

.select-cover .arrow {
  border: solid #ececec;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4px;
}

.select-cover .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.get-promo .apple-login {
    align-items: center;
    margin-bottom: 60px;
}

.get-promo .apple-login .text {
    margin-right: 12px;
}

.get-promo .textarea-cover {

}

.get-promo .feedback {
    width: 350px;
    height: 200px;
    background-color: none;
    border: 1px solid #ececec;
    color: #a5a5a5;
    padding: 22px;
    text-align: left;
}
