<div class="cover flex">
    <div class="input-cover">
        <input class="select-input" type={{type}} name={{name}} placeholder={{placeholder}}>
    </div>
    <div class="arrow-cover flex">
        <div class="arrow down"></div>
    </div>
</div>