.cover {
    min-width: 360px;
    max-width: 360px;
    height: 60px;
    max-height: 60px;

    background-color: #ececec;
    box-sizing: border-box;
    border: 1px solid #060606;
    border-radius: 10px;

    flex-direction: row;
}

.cover .input-cover {
    padding: 18px;
    width: 280px;
}

.cover .input-cover input {
    width: 100%;
    
    text-align: center;
    color: #a5a5a5;
    font-size: 14px;
}

.cover .arrow-cover {
    width: 80px;
    padding-bottom: 4px;
    border-left: 1px solid #060606;

    justify-content: center;
    align-items: center;
}

.cover .arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 8px;
}

.cover .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
