.promo {
    background-image: url('../../../assets/images/clouds.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;

    height: 100vh;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;

    font-size: 18px;
}

.promo .buttons {
    margin-bottom: 30px;
}

.promo .buttons app-transparent-button:first-child {
    margin-right: 55px;
}

.promo .view-comparisson {
    text-align: center;
    margin-bottom: 60px;
    padding-bottom: 10px;

    border-bottom: 1px solid #343435;
}

.promo .view-comparisson .or {
    color: #ececec;
    margin-bottom: 25px;
}