<div class="promo flex">
    <div class="buttons">
        <app-transparent-button text="enter your way to find best deal"></app-transparent-button>
        <app-transparent-button text="rate service to get a promo"></app-transparent-button>
    </div>

    <div class="view-comparisson">
       <div class="or">or</div>
       <a href="#">view <br /> our comparisson</a>
    </div>
</div>