<div class="form-evaluate">
    <div class="app-select-cover">
        <app-select class="app-select" type="text" name="address" placeholder="Provide your adress..."></app-select>
    </div>
    <div class="dots flex">
        <div class="dot" *ngFor="let i of [].constructor(10)"></div>
    </div>
    <div class="app-select-cover">
        <app-select class="app-select" type="text" name="destination" placeholder="Provide your destination..."></app-select>
    </div>

    <div class="buttons flex">
        <app-black-button text="Evaluate"></app-black-button>
    </div>
</div>