.form-evaluate .app-select-cover:first-child {
    margin-top: 110px;
}

.form-evaluate .dots {
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-evaluate .dots .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #3e3e3e;
    margin-bottom: 5px;
}

.form-evaluate .buttons {
    margin-top: 65px;
    justify-content: center;
}