* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    margin: 0 auto;

    /*make smooth scrolling for all page*/
    scroll-behavior: smooth;
}
body {
    font-family: 'Lexend Exa', sans-serif;
    overflow-x: hidden;
}
body, html {
    width: 100%;
}
a {
    text-decoration: none;
    color: #000000;
}
button:hover{
    cursor: pointer;
}
input, button, textarea {
    font-family: 'Lexend Exa', sans-serif;
    border: none;
    background: none;
} 

.flex {
    display: flex;
}
.block {
    display: inline;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}
