.trip-price {
    background-image: url('../../../assets/images/white-abstract.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;

    height: 120vh;
    padding: 150px 150px 170px 200px;

    color: #060606;
}

.trip-price .heading {
    font-size: 36px;
}

.trip-price .info {
    justify-content: space-between;
}