<div class="trip-price">
    <div class="heading">
        Trip price <br />
        ( + waiting time)
    </div>

    <div class="info flex">
        <app-form-evaluate></app-form-evaluate>
        <div class="table">
            <!-- <app-price-table></app-price-table> -->
        </div>
    </div>
</div>